body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
}

#pagination span {
    font-size: 18px;
    padding: 10px;
}
